/* Общие стили */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Для более приятного шрифта */
    background-color: #f4f4f9; /* Светлый фон для всей страницы */
    color: #333; /* Тёмно-серый цвет текста для контента */
}

.navbar {
    display: flex;
    background-color: #4a5568; /* Тёмно-серый с синим оттенком */
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    
}

.left, .right{
    display: flex;
    gap: 1rem; /* Пробел между ссылками */
}

.navbar a{
    color:white;
    font-weight: bold; /* Жирный шрифт для ссылок */
    text-decoration: none; /* Убирает полоски под ссылками */
    padding: 0.3rem 0.6rem; /* Добавили padding для эффекта кнопки */
    border-radius: 4px; /* Немного скругляем уголки при наведении */
}

.navbar a:hover {
    background-color: #63b3ed; /* Мягкий голубой при наведении */
}


