.form-container {
    display: flex;
    justify-content: center;      /* по горизонтали */
    align-items: center;          /* по вертикали */
    height: 80vh;                 /* почти весь экран */
}

.taskform{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.taskform *{
    box-sizing: border-box;
}

.taskform p{
    margin-bottom: 1rem;
}

.taskform
input[type="text"]{
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.taskform
textarea{
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    resize: vertical;
    font-family: inherit;
    font-size: 1rem;
}

.taskform
select[multiple] {
    min-height: 50px; 
    overflow-y: auto; 
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    }

.taskform .submit-wrapper{
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    margin-top: 1rem;
}

.taskform
input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #4a90e2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.taskform
input[type="submit"]:hover {
    background-color: #357ABD;
}